

<div class="panel panel-default">

  <div class="panel-heading">
    <%= radio_button_tag 'flight_id', flight.id %>
    <%= "Flight Number: #{flight.id}" %>
  </div>
  <div class="panel-body">
    <%= "From: #{Airport.find(flight.origin_airport_id).airport_name} - To: #{Airport.find(flight.destination_airport_id).airport_name}" %><br/>
  </div>
  <div class="panel-body">
    <%= "Depart: #{flight.departure_date_time.to_date} at #{flight.departure_date_time.strftime("%I:%M%p")} - Duration: #{flight.hours} hours and #{flight.minutes} minutes" %><br />
  </div>
</div>


<hr>