<h3>What is up yo? Where you want to go???</h3>

<li>
Origin:
  <select>
      <% @flights.each do |flight| %>
        <ul>
          <option>
             <%= @airports.find(flight.origin_airport_id).airport_code %>
          </option>
        </ul>
      <% end %>
  </select>
</li>

<li>
Destination:
  <select>
      <% @flights.each do |flight| %>
        <ul>
          <option>
             <%= @airports.find(flight.destination_airport_id).airport_code %>
          </option>
        </ul>
      <% end %>
  </select>
</li>

<li>
Departure Date:
  <select>
      <% @flights.each do |flight| %>
        <ul>
          <option>
            <%= flight.departure_date_time.strftime("%m/%d/%Y") %>
          </option>
        </ul>
      <% end %>
  </select>
</li>

<li>
  Number of pasengers:
  <select>
    <ul>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </ul>
  </select>
</li>