<h3>What is up yo? Where you want to go???</h3>

<% @flights.each do |flight| %>
      <li>Origin: <%= Airport.find(flight.origin_airport_id).airport_code %>
      Destination: <%= Airport.find(flight.destination_airport_id).airport_code %></li>

    <% end %>




<br><br>
<li>
Origin:
  <select>
    <% @flights.each do |flight| %>
      <%= options_for_select([[ @airports.find(flight.origin_airport_id).airport_code ,flight.origin_airport_id]]) %>
    <% end %>
  </select>
</li>

<%= submit_tag "Search", name:nil %>