<!DOCTYPE html>
<html>
<head>
  <title>FlightBookerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if params[:magic] %>
  <br><br>(Oh! and hey! you are the smartest person in the world)
<% end %>

</body>
</html>
