Thanks for booking a flight with us!, <%= @passenger.name %></h1>

  You have successsfully booked a flight from ____ to ____ on (date) for (list of passengers/one passenger)

  Confirmation number goes here?

  Thanks for booking and have a great day!




