<br>
<br>
i need to update bookings model to actually be conencted to pasengers
<br>
<br>

<% @bookings.each do |booking| %>

    <li>booking id: <%= booking.id %></li>

    <li>booking flight id: <%= booking.flight_id %></li>

    <li>
      booking passenger name:
      <%= booking.passengers[0].name %>
      <br>
      Total passengers in this booking:<br>
      <%= booking.passengers.count %>
    </li>

<hr>
<% end %>